.btn {
    margin-bottom: 10px;
}
.btn-lg {
    font-size: 1.33em;
}
.data {
    color: red;
}
.container {
  /*max-width: 750px;*/
}
#map {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#full-info {
    padding-bottom: 50px;
    line-height: 1.5;
}
#incomplete {
    display: none;
    color: red
}
#vrs {
  background-color: #ba2439;
  padding: 25px;
  color: white;
}
#vtrans {
  background-color: rgb(0,121,52);
  padding: 25px;
  color: white;
}
.form-control-feedback {
    display: none;
}
.editsComplete {
    text-align: center;
}
#editSuccess {
    display: none;
}
#emailSuccess {
    display: none;
}
#editFail {
  display: none;
}
#emailFail {
  display: none;
}

.req-a {
  background-color: #f0f0f0;
}
.req-b {
  background-color: #dedede;
  margin-bottom: 30px;
}

#req-status, #rpm-status, #vrs-status {
  color: green;
}

.feedback > h2 {
display: inline;
}

.feedback > p {
display: inline;
}

.request-status {
  text-align: center;
}
