.btn { margin-bottom: 10px;}

.btn-lg { font-size: 1.33em; }

.data {
  color: red;
}

#map {
  width: 100%;
  height: auto;
  margin: 0; padding: 0;
}

#full-info {
  padding-bottom: 50px;
}

#incomplete { display: none; color: red}

.form-control-feedback { display: none;}
